<!-- Вход. Джанго использует AuthenticationForm, 
    расположенную в django.contrib.auth.forms -->

{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="wrap">
        <h1>Log-in</h1>
        {% if form.errors %}
            <p>Ваше имя пользователя и пароль не совпадают.
                Пожалуйста, попробуйте еще раз.
            </p>
        {% else %}
            <p>Пожалуйста, используйте следующую форму для входа:</p>
        {% endif %}
    </div>
    
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-danger  mb-2">
                <a href="#">Login with Instagram</a>
            </button>
            <button class="btn btn-primary mb-2">
                <a href="#">Login with Facebook
                </a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="#">Login with LinkedIn</a>
            </button>
        </div>
    </div>
{% endblock %}

<!-- Джанго использует AuthenticationForm, расположенную в 
django.contrib.auth.forms. Эта форма пытается проверить 
подлинность пользователя и порождает ошибку проверки, если имя 
пользователя было не верно. В этом случае мы можем искать ошибки 
с помощью команды % if form.errors % . Обратите внимание, 
что мы добавили скрытый элемент <input> для отправки значения 
переменной с именем next.

Параметр next должен быть URL-адресом. Если этот параметр 
указан, то после входа пользователя в систему он перенаправляется 
на заданный URL-адрес. -->